menu "Build"
  config BUILD_IS_LIBRARY
    bool
    depends on BUILD_CAN_BE_LIBRARY
    select BUILD_GENERATES_USERSPACE_EXECUTABLE
  
  # BUILD_IS_KERNEL and BUILD_IS_EXECUTABLE
  # are mutually exclusive
  
  config BUILD_IS_KERNEL
    bool
    select BUILD_GENERATES_EXECUTABLE
    select BUILD_INSTALL_AS_KERNEL_EXECUTABLE
  
  config BUILD_IS_EXECUTABLE
    bool
    select BUILD_CAN_BE_LIBRARY
    select BUILD_GENERATES_USERSPACE_EXECUTABLE
    select BUILD_CAN_INSTALL_AS_USERSPACE_EXECUTABLE
  
  source "buildsystem/Kconfig.kernel"
  
  # Anything below wasn't meant to be set by application
  config BUILD_GENERATES_USERSPACE_EXECUTABLE
    bool
    select BUILD_GENERATES_EXECUTABLE
    select CONFIG_BUILD_HAVE_CLANG_BLOCKS_SUPPORT
    select BUILD_USERSPACE
    select BUILD_HAVE_LLVM_ASAN
    select BUILD_HAVE_LLVM_TSAN
    select BUILD_HAVE_LLVM_MSAN
    select BUILD_HAVE_LLVM_UBSAN
    select BUILD_HAVE_LLVM_XRAY
    
  config BUILD_GENERATES_EXECUTABLE
    bool
  config BUILD_CAN_INSTALL_AS_USERSPACE_EXECUTABLE
    bool
  config BUILD_CAN_INSTALL_AS_KERNEL_EXECUTABLE
    bool
  config BUILD_CAN_BE_LIBRARY
    bool
  config BUILD_USERSPACE
    bool
  config BUILD_HAVE_CLANG_BLOCKS_SUPPORT
    bool
  
  if BUILD_IS_LIBRARY
    menu "Library options"
      config BUILD_INSTALL_PKGCONFIG
        bool "Install pkgconfig file"
        default y
    endmenu
  endif
  
  config DEBUG
    bool "Enable debugging mode"
  
  config BUILD_INSTALL_HEADERS
    bool "Install development headers"
  config BUILD_INSTALL_EXECUTABLE
    bool "Install executable"
    depends on BUILD_CAN_INSTALL_AS_USERSPACE_EXECUTABLE || BUILD_CAN_INSTALL_AS_KERNEL_EXECUTABLE
  
  source "buildsystem/Kconfig.compiler"
endmenu
